*{
    font-family: 'Roboto Mono', monospace;    
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(53,53,53);
    color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: rgb(102, 102, 102);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 50px; 
    padding-bottom: 50px; 
    height: 40vh;
}

form{
    display: flex;

    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.canvas-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
}